body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

nav{
    width: 100%;
    height: 50px;
    display: flex;
}

.left-navbar{
    width: 70%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
}

.right-navbar{
    width: 30%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
}

.logo{
    margin-left: 50px;
    margin-top: 0px;
}

main{
    padding: 40px 0px 120px 120px;   
    background: linear-gradient(194.01deg, #FFFFFF 9.6%, #EAF2F5 89.64%);

}

.section-one{
    width: 100%;
    height: auto;
    display: flex;
    margin-right: 0px;
}

.section-two{
    width: 100%;
    height: auto;
    display: flex;
    margin-right: 0px;
}

.left-section{
    width: 50%;
    margin-top: 15%;
}

.right-section{
    width: 50%;
}


h1{
    font-size: 4em;
    font-weight: bold;
}

p{
    font-size: 1.1em;
}


.left2-section{
    width: 55%;
    margin-top: 7%;
}

.right2-section{
    width: 45%;
    margin-top: 7%;
}

.boton1{
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: #519E15;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.card-section1{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10%;

}

.card-section2{
    width: 100%;
    height: auto;
    display: flex;
}

.card{
    width: 350px;
}

h2{
    font-size: 2.5em;
    font-weight: bold;
    margin-block-end: 0%;
}

h3{
    font-size: 1.5em;
    text-align: left;
    padding-left: 50px;
    margin-top: 0px;
}

footer{
    background-color: #0B0D17;
    color: white;
    width: 1440px;
    height: 471px;
}

.footer-text{
    font-size: medium;
    margin-left: 80px;
}

.logo-footer{
    margin-left: 50px;
    margin-top: 100px;
}

.div-footer{
    margin-top: 10%;
}