body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid rgb(199, 198, 198);
}

.inactive{
    display: none;
}

header{
    margin-top: 0px;
    padding-top: 0px;
}

.left-navbar{
    width: 70%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    justify-items: baseline;
    font-size: 1em;
    margin-top: 10px;
    border-bottom: 10px black;
}

.right-navbar{
    width: 30%;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    margin-top: 10px;
}

.btn-register{
    margin-left: 70px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: #8C30F5;
    background-color: #E5FFE4;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.btn-login{
    margin-left: 10px;
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: #519E15;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.logo{
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
}

.navtext{
    font-size: 1em;
}

.navtext:hover{
    margin: 0px;
    margin-top: 8px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color:  #ACD9B2;
    color: #ACD9B2;
    padding: 4px;
    padding-top: 3px;
    cursor: pointer;
}

main{
    padding: 40px 0px 120px 120px;   
    background: linear-gradient(194.01deg, #FFFFFF 9.6%, #EAF2F5 89.64%);
    margin-top: 0px;
    padding-top: 0px;

}

.section-one{
    width: 100%;
    height: auto;
    display: flex;
    margin-right: 0px;
    margin-top: 0px;
}

.section-two{
    width: 100%;
    height: auto;
    display: flex;
    margin-right: 0px;
}

.left-section{
    width: 50%;
    margin-top: 15%;
}

.right-section{
    width: 50%;
}


h1{
    font-size: 4em;
    font-weight: bold;
}

p{
    font-size: 1.1em;
}


.left2-section{
    width: 55%;
    margin-top: 7%;
}

.right2-section{
    width: 45%;
    margin-top: 7%;
}

.boton1{
    width: 120px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background-color: #519E15;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.card-section1{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 10%;

}

.card-section2{
    width: 100%;
    height: auto;
    display: flex;
}

.card{
    width: 350px;
}

h2{
    font-size: 2.5em;
    font-weight: bold;
    margin-block-end: 0%;
}

h3{
    font-size: 1.5em;
    text-align: left;
    padding-left: 50px;
    margin-top: 0px;
}

footer{
    background-color: #0B0D17;
    color: white;
    width: 1440px;
    height: 471px;
}

.footer-text{
    font-size: medium;
    margin-left: 150px;
}

.logo-footer{
    margin-left: 120px;
    margin-top: 0px;
}

.div-footer{
    margin-top: 100px;
    display: flex;
}

h4{
    font-size: 1.5em;
    margin-left: 35px;

}

.div-footer1{
    width: 450px;
    margin-top: 60px;
}
.div-footer2{
    width: 250px;
    margin-top: 60px;
}
.div-footer3{
    width: 250px;
    margin-top: 60px;
}
.div-footer4{
    width: 400px;
    margin-top: 60px;
}

.redes_sociales{
    margin-left: 150px;
}




.navbar-email{
    padding-left: 5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.navbar-shopping-cart{
    margin-top: 1rem;
    padding-left: 3rem;
    cursor: pointer;
}



:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

  .desktop-menu {
    position: absolute;
    top: 69px;
    right: 150px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
  }
  .desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
  }
  .desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }

  .product-detail {
    background-color: var(--white);
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border-style: solid;
    border-color: #c2c2c2;
    border-radius: 10px;
    border-width: 1px;
  }
  .title-container {
    display: flex;
  }
  .title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
  }
  .title {
    font-size: var(--lg);
    font-weight: bold;
  }
  .order {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
  }
  .order p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
  }
  .order p:nth-child(2) {
    text-align: end;
    font-weight: bold;
  }
  .shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .shopping-cart figure {
    margin: 0;
  }
  .shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
  }
  .shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
  }
  .shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
  }
  .primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }